* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  
  font-family: inherit;
  font-size: inherit;
}

.App {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Root {
  padding-bottom: 0;
}

.Root-container {
  display: flex;
  justify-content: center;
}