.App-comment__form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.App-comment__form textarea{
    -webkit-appearance: none;
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px #222222;
    display: flex;
    width: 100%;
    min-height: 10em;
    margin-bottom: 1.25em;
    resize: none;
}

.App-comment__send {
    font-size: 0.75rem;
    -webkit-appearance: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 10px;
    background-color: hsla(54, 66, 23);

}