.Profile-header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px black;
}

.Profile-row {
  display: flex;
  flex-direction: row;
}

.Profile-col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Profile--sign-out {
  border: none;
  font-size: 40px;
}

.Profile--header__infoContainer,
.Profile--header__posts,
.Profile--header__likes {
  padding: 20px;
}

.Profile--header__avatar {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
}
.Profile--header__name {
  font-size: 50px;
  margin-right: 40px;
}
.Profile--header__email {
  font-size: 20px;
}
.Profile--header__posts {
  margin: 5px;
}
.Profile--header__likes {
  margin: 5px;
}